@font-face {
  font-family: "iconfont"; /* Project id 3423695 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1653398982052') format('woff2'),
       url('iconfont.woff?t=1653398982052') format('woff'),
       url('iconfont.ttf?t=1653398982052') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e620";
}

.icon-youxiang:before {
  content: "\e64c";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-biaoqian:before {
  content: "\e6bb";
}

.icon-shijianzhou:before {
  content: "\e608";
}

.icon-a-dayinjidayin:before {
  content: "\e86b";
}

.icon-a-zhuozikezhuo:before {
  content: "\e86c";
}

.icon-a-fenxitongjitiaocha:before {
  content: "\e86e";
}

.icon-a-tongjiangbiaozhangbiaoyangjiangbeishengli:before {
  content: "\e86f";
}

.icon-a-baozhuanghechanpinhuowuanzhuangbao:before {
  content: "\e870";
}

.icon-a-huangsedewuxingshoucangzuiai:before {
  content: "\e871";
}

.icon-a-sousuoyulanchakanfangdajing:before {
  content: "\e872";
}

.icon-a-xihuanxiaizuiaiaiqing:before {
  content: "\e874";
}

.icon-a-moshumaozimoshu:before {
  content: "\e875";
}

.icon-a-heibanxuexijiaoxuekejian:before {
  content: "\e876";
}

.icon-a-jinggaoweixianzhongyaorenwutixing:before {
  content: "\e877";
}

.icon-a-jiaojuandianying:before {
  content: "\e878";
}

.icon-a-huabanhuahua:before {
  content: "\e87b";
}

.icon-youxishoubing:before {
  content: "\e87c";
}

.icon-a-wangyuanjingkuitantansuo:before {
  content: "\e87d";
}

.icon-a-tianqiyuntaiyang:before {
  content: "\e87f";
}

.icon-shuibei:before {
  content: "\e881";
}

.icon-a-diandengpaozhuyichuangxinchuangzao:before {
  content: "\e882";
}

.icon-kapian:before {
  content: "\e883";
}

.icon-a-56:before {
  content: "\e7d9";
}

.icon-caomeitiantianquan:before {
  content: "\e6d9";
}

.icon-peizhi:before {
  content: "\e764";
}

.icon-tuijian:before {
  content: "\e765";
}

.icon-zhuanjia:before {
  content: "\e766";
}

.icon-renwushu:before {
  content: "\e767";
}

.icon-baogao:before {
  content: "\100c8";
}

.icon-rili:before {
  content: "\100c9";
}

.icon-shubao:before {
  content: "\100ca";
}

.icon-shuji:before {
  content: "\100cb";
}

.icon-youxi:before {
  content: "\100cd";
}

.icon-xunzhang:before {
  content: "\100ce";
}

.icon-dingwei:before {
  content: "\100cf";
}

.icon-anquan:before {
  content: "\e768";
}

